.tasks__button {
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0px;  
    transition: background 1s; 
}

.tasks__button--done {
    background-color: rgb(36, 129, 36);   
}

.tasks__button--done:hover {
    background-color: hsl(120, 57%, 36%);
}

.tasks__button--done:active {
    background-color: hsl(120, 76%, 40%);
  }

.tasks__button--remove {
    background-color: rgb(192, 82, 82);
}

.tasks__button--remove:hover {
    background-color: hsl(0, 61%, 60%);
}

.tasks__button--remove:active {
    background-color: hsl(0, 61%, 70%);
}

